{% extends 'base.html' %} {% load static %} {% block title %}Comment on Blog
Post {%endblock%} {% block content %}

{% if user.is_authenticated %}
<section id="id_content" class="blog-comment-form section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <form method="POST" role="form">
      {% csrf_token %}
      <div class="section-header">
        <h3>Commentaire</h3>
      </div>
      <div class="row gy-3">
        <div class="col-12 form-group">
          <label for="id_content"
            >Votre commentaire <span style="color: red">*</span></label
          >

          <textarea
            class="form-control"
            name="content"
            id="id_content"
            rows="5"
            placeholder="Votre commentaire..."
            required=""
          ></textarea>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn-submit">
            Poster le commentaire
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

{% else %}
<p>Veuillez <a href="{% url 'login' %}">vous connecter</a> pour commenter.</p>
{% endif %} {% endblock %}
