{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- TITRE -->
    <title>{% block title %} Generation Auto-Entrepreneur {% endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/logo.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <!-- Dans le <head> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="index-page">
    <!-- HEADER -->
    <header id="header" class="header position-relative">
      <div class="container-fluid container-xl position-relative">
        <div class="top-row d-flex align-items-center justify-content-between">
          <!-- Logo -->
          <a href="{% url 'home' %}" class="logo d-flex align-items-end">
            <img src="{% static 'assets/img/logo.png' %}" alt="logo" />
          </a>

          <!-- Bouton menu mobile -->
          {% comment %}
          <button class="mobile-nav-toggle d-xl-none">
            <i class="bi bi-list"></i>
          </button>
          {% endcomment %}

          <!-- Social + Search -->
          <div class="d-flex align-items-center">
            <div class="social-links">
              <a
                href="https://www.facebook.com/profile.php?id=61567110015086"
                class="facebook"
              >
                <i class="bi bi-facebook"></i>
              </a>
              <a
                href="https://www.youtube.com/@G%C3%A9n%C3%A9rationAutoEntrepreneur"
                class="youtube"
              >
                <i class="bi bi-youtube"></i>
              </a>
              <a
                href="https://www.instagram.com/generationautoentrepreneur/"
                class="instagram"
              >
                <i class="bi bi-instagram"></i>
              </a>
            </div>

            <form
              id="searchForm"
              action="{% url 'search_articles' %}"
              method="GET"
              class="search-form ms-4"
            >
              <input
                type="text"
                name="q"
                placeholder="Search..."
                class="form-control"
              />
              <button type="submit" class="btn">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
        </div>

        <!-- Navigation principale -->
        <div class="nav-wrap">
          <div
            class="container d-flex justify-content-center position-relative"
          >
            <nav id="navmenu" class="navmenu">
              <ul class="modern-nav" id="main-nav">
                <li>
                  <a href="{% url 'home' %}" class="nav-link" data-nav="home">
                    <i class="fas fa-home"></i> Accueil
                  </a>
                </li>
                <li>
                  <a href="{% url 'about' %}" class="nav-link" data-nav="about">
                    <i class="fas fa-info-circle"></i> A propos
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'galery' %}"
                    class="nav-link"
                    data-nav="contact"
                  >
                    <i class="bi bi-images"></i> Galerie
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'forum:forum_list' %}"
                    class="nav-link"
                    data-nav="forum"
                  >
                    <i class="fas fa-comments"></i> Forum
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'contact' %}"
                    class="nav-link"
                    data-nav="contact"
                  >
                    <i class="bi bi-envelope"></i> Contact
                  </a>
                </li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="nav-link user-menu toggle-dropdown">
                    <span class="user-avatar"
                      ><i class="fas fa-user-circle toggle-dropdown"></i
                    ></span>
                    <span class="user-name"
                      >{{ user.first_name }} {{ user.last_name }}</span
                    >
                    <i class="fas fa-chevron-down dropdown-arrow"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'edit_profile' %}" class="dropdown-item">
                        <i class="fas fa-cog"></i>
                        <span class="dropdown-text">Paramètres du profil</span>
                      </a>
                    </li>
                    {% if user.profile.id %}
                    <li>
                      <a
                        href="{% url 'edit_profile_page' user.profile.id %}"
                        class="dropdown-item"
                      >
                        <i class="fas fa-user-edit"></i>
                        <span class="dropdown-text">Modifier le profil</span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="{% url 'show_profile_page' user.profile.id %}"
                        class="dropdown-item"
                      >
                        <i class="fas fa-user"></i>
                        <span class="dropdown-text">Voir le profil</span>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a
                        href="{% url 'create_profile_page' %}"
                        class="dropdown-item"
                      >
                        <i class="fas fa-user-plus"></i>
                        <span class="dropdown-text">Créer un profil</span>
                      </a>
                    </li>
                    {% endif %} {% if request.user.is_superuser %}
                    <li class="dropdown-divider"></li>
                    <li>
                      <a href="{% url 'add_category' %}" class="dropdown-item">
                        <i class="fas fa-folder-plus"></i>
                        <span class="dropdown-text">Ajouter une catégorie</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'add_post' %}" class="dropdown-item">
                        <i class="fas fa-plus-circle"></i>
                        <span class="dropdown-text">Ajouter un article</span>
                      </a>
                    </li>
                    {% endif %}

                    <li class="dropdown-divider"></li>
                    <li>
                      <form
                        action="{% url 'logout' %}"
                        method="POST"
                        class="logout-form"
                      >
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item logout-btn">
                          <i class="fas fa-sign-out-alt"></i>
                          <span class="dropdown-text">Déconnexion</span>
                        </button>
                      </form>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'register' %}" class="nav-link register-btn">
                    <i class="fas fa-user-plus"></i> S'enregistrer
                  </a>
                </li>
                <li>
                  <a href="{% url 'login' %}" class="nav-link login-btn">
                    <i class="fas fa-sign-in-alt"></i> Se connecter
                  </a>
                </li>
                {% endif %}
              </ul>
              <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <style>
      /* Header */
      .header {
        background: white;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      }

      .nav-link.active {
        background-color: #ffb81a; /* Couleur de votre choix */
        color: white !important;
      }

      .nav-link.active:hover {
        background-color: #e6a517; /* Une teinte légèrement plus foncée */
      }
    </style>

    <!-- HEADER -->

    <!-- MAIN CONTENAIR -->
    <div class="container">{% block content %} {% endblock %}</div>
    <!-- MAIN CONTENAIR -->

    <!-- FOOTER -->
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="logo" />
            </a>
            <div class="footer-contact pt-3">
              <p>
                <i class="fas fa-map-marker-alt me-2"></i>
                <strong>Avenue :</strong> Foch, Brazzaville, République du Congo
              </p>
              <p>
                <i class="fas fa-phone-alt me-2"></i
                ><strong>Téléphone :</strong> +242 06 859 9179
              </p>
              <p>
                <i class="fas fa-envelope me-2"></i
                ><strong>Email :</strong> generationautoentrepreneur@gmail.com
              </p>
            </div>

            <style>
              .fa-map-marker-alt,
              .fa-phone-alt,
              .fa-envelope {
                color: #101020;
                font-size: 1.2em;
                transition: color 0.3s;
              }

              .fa-map-marker-alt:hover,
              .fa-phone-alt:hover,
              .fa-envelope:hover {
                color: #ffb81a;
              }
            </style>
            <div class="social-links d-flex mt-4">
              <a
                href="https://www.youtube.com/@G%C3%A9n%C3%A9rationAutoEntrepreneur"
                ><i class="bi bi-youtube"></i
              ></a>
              <a href="https://www.facebook.com/profile.php?id=61567110015086"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://www.instagram.com/generationautoentrepreneur/"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><a href="{% url 'home' %}">Accueil</a></li>
              <li><a href="{% url 'about' %}">A Propos de Nous</a></li>
              <li><a href="{% url 'contact' %}">Nous contactez</a></li>
              <li>
                <a href="{% url 'forum:forum_list' %}">Forum de discussion</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nos Réalisations</h4>
            <ul>
              <li>
                <a href="#" onclick="submitSearchForm('Formations')"
                  >Formations</a
                >
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Accompagnement')"
                  >Accompagnement</a
                >
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Réseautage')"
                  >Réseautage</a
                >
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Opportunités')"
                  >Accès à des Opportunités</a
                >
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Quelques Lieux</h4>
            <ul>
              <li>
                <a href="#" onclick="submitSearchForm('Brazzaville')"
                  >Brazzaville</a
                >
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Pointe-Noire')"
                  >Pointe-Noire</a
                >
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Dolisie')">Dolisie</a>
              </li>
              <li>
                <a href="#" onclick="submitSearchForm('Kinkala')">Kinkala</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <div class="copyright-content">
          <p>
            &copy; 2025 <strong>Génération Auto-Entrepreneur</strong>. Tous
            droits réservés.
          </p>
          <div class="credits">
            Conçu par <a href="https://yno.cg/" class="ynotech-link">Ynotech</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- FOOTER -->

    <!-- SCRIPTS -->
    <script>
      // Fonction JavaScript pour soumettre le formulaire avec le lieu sélectionné
      function submitSearchForm(location) {
        var searchInput = document.querySelector('input[name="q"]');
        searchInput.value = location; // Mettre le lieu sélectionné dans le champ de recherche
        document.getElementById("searchForm").submit(); // Soumettre le formulaire
      }

      // Fonction JavaScript pour soumettre le formulaire avec la catégorie ou mot-clé sélectionné
      function submitSearchForm(keyword) {
        var searchInput = document.querySelector('input[name="q"]');
        searchInput.value = keyword; // Mettre le mot-clé dans le champ de recherche
        document.getElementById("searchForm").submit(); // Soumettre le formulaire
      }
    </script>
    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- SCRIPTS -->
  </body>
</html>
